In [2]:
#Question 1:

def vol(rad):
    return (4 * 3.14 * rad ** 3) / 3

In [3]:
#Check
vol(2)

33.49333333333333

In [8]:
#Question 2:

def ran_check(num,low,high):
    if num in range(low,high+1):
        print("The number", num,"is in range")
    else:
        print("The number", num,"is out of range")

In [9]:
#Check
ran_check(5,2,7)

The number 5 is in range

In [10]:
#Question 2 PART 2:

def ran_bool(num,low,high):
    if num in range(low,high+1):
        print(True)
    else:
        print(False)

In [11]:
#Check
ran_bool(3,1,10)

True

In [16]:
#Question 3:

def up_low(s):
    up = 0
    low = 0 
    for i in s:
        if i.isupper():
            up += 1
        elif i.islower():
            low += 1
    print("Number of upper case characters:", up)
    print("Number of lower case characters:", low)

In [17]:
#String
s = 'Hello Mr. Rogers, how are you this fine Tuesday?'
up_low(s)

Number of upper case characters: 4
Number of lower case characters: 33

In [20]:
#Question 4:

def unique_list(lst):
    result = []
    for item in lst:
        if item not in result:
            result.append(item)
    return result

In [21]:
unique_list([1,1,1,1,2,2,3,3,3,3,4,5])

[1, 2, 3, 4, 5]

In [24]:
#Question 5:

def multiply(numbers):
    product = 1
    for num in numbers:
        product *= num
    return product

In [25]:
multiply([1,2,3,-4])

-24

In [28]:
#Question 6:
#This one really confused me, I had to look it up to help myself and found a method that worked.

def palindrome(s):
    s = s.replace(' ','')
    return s == s[::-1]

In [29]:
palindrome('helleh')

True

In [32]:
#Question 7:
#This one was also very confusing and I had to search it up to help myself.
import string
def ispangram(str1, alphabet=string.ascii_lowercase):
    
    alpha = set(alphabet) 
    str1=str1.lower()
    str1=str1.replace(' ','') 
    str1 = set(str1)
    return alpha <= str1

In [33]:
ispangram("The quick brown fox jumps over the lazy dog")

True

In [34]:
string.ascii_lowercase

'abcdefghijklmnopqrstuvwxyz'